/Lab2/webapps/mvc2/nbproject/private/
/Lab2/webapps/mvc2/build/
/Lab2/webapps/mvc2/dist/
/Lab4/ajax-basics-1/nbproject/private/
/Lab4/ajax-basics-1/nbbuild/
/Lab4/ajax-basics-1/dist/
/Lab4/ajax/nbproject/private/
/Lab4/ajax/dist/
/Lab4/ajax/nbbuild/
/Lab5/JPA_Examples/persistence/order/dist/
/Lab5/JPA_Examples/persistence/address-book/dist/